body {
    background-color: #FDF1DD;
    font-family: "Englebert", sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

#titulo {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font-family: "Bagel Fat One", system-ui, sans-serif;
    color: #33595e;
    font-size: 30px;

}

img {
    max-width: 90px;
    max-height: 128px;
    rotate: 21.54deg;
    margin-top: 12px;
    margin-left: 5px;

}

#tarefas {
    background-color: #D9D9D9;
    border: 8px solid #FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#inserir-tarefas{
    display: flex;
    justify-content: center;
}

#texto {
  box-shadow: 5px 2px 5px 0px #AFA994;
  border: none;
  border-radius: 8px;
  height: 35px;
  width: 90%;
  text-align: center;
  font-family: "Englebert", cursive, sans-serif;
  font-size: 15px;
}

input[type=text]:focus{
    outline: none;
}
#titulo-tarefas {
    font-family: "Bagel Fat One", system-ui, sans-serif;
    color: #33595e;
    font-size: 30px;
}

#titulo-tarefas {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#bloco-tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    max-width: 90%;
    padding: 8px;
    box-sizing:border-box;
}

#lista li {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

#lista {
    width: 100%;
    margin: auto;
    padding-left: 0px;
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.fa-trash {
    margin-left: 10px;
    color: #33595e;
    cursor: pointer;
}

.fa-trash:hover {
    color: #4f8a92;
}

ul li {
    list-style-type: none;
    color: #33595e;
    padding: 10px;
}


#botaoAdd {
    width: 100%;
    max-width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 10px auto;
    background-color: #33595e;
    height: 35px;
    border-radius: 8px;
    font-family: "Englebert", cursive, sans-serif;
    color: #FFFFFF;
    padding: 0 35px;
    cursor: pointer;
}

#botaoAdd:hover{
    background-color: #4f8a92;
}

@media (max-width: 480px) {

    body {
        overflow: hidden;
    }

    #tarefas {
        width: 95%;
    }
    #bloco-tarefas {
        width: 100%;
        max-width: 95%;
        padding: 8px
    }
    #lista li {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
    }
    #tarefas, #bloco-tarefas, #lista {
        width: 95%;
        max-width: 95%;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 35px;
    background-color: #AFA994;
}


